<menubar uniqueID="mainMenu">
	<panel align="left">
		<item uniqueID="btnFind" type="button" name="Find" size="100;20" />
		<item uniqueID="btnMonitor" type="button" name="Monitor" size="100;20" />
		<item uniqueID="btnSettings" type="button" name="Settings" size="100;20" />
	</panel>

	<panel align="center">
		<item uniqueID="cbTemplates" type="combobox" size="100;20" />
		<item uniqueID="btnRead" type="button" name="Read" size="100;20" />
		<item uniqueID="btnWrite" type="button" name="Write" size="100;20" />
	</panel>

	<panel align="right">
		<item uniqueID="btnExit" type="button" name="Вихід" size="100;20" />
	</panel>
</menubar>