<menubar uniqueID="mainMenu">
	<menu uniqueID="menu_1" name="Інструменти">
		<menuitem uniqueID="i_1" name="instr1" />		
	</menu>
	<panel align="left">
		<item uniqueID="btnFind" type="button" name="Find" size="100;20" />
		<item uniqueID="btnTU1" type="button" name="TU1" size="100;20" />
		<item uniqueID="btnTU2" type="button" name="TU2" size="100;20" />
		<item uniqueID="btnMonitor" type="button" name="Monitor" size="100;20" />
	</panel>

	<panel align="right">
		<item uniqueID="btnExit" type="button" name="Вихід" size="100;20" />
	</panel>
</menubar>