<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Base>
	<mainForm title="ReportsTitle" icoPath="./ico" pathOfFormState="./frmState" />
	<COM databits="8" parity="None" stopbits="1" encoding="rtu"/>
	<speeds>
		<speed id="1" value="1200"/>
		<speed id="2" value="2400"/>
		<speed id="3" value="4800"/>
		<speed id="4" value="9600" defaultBeg="true" defaultEnd="true"/>
		<speed id="5" value="14400"/>
		<speed id="6" value="19200"/>
		<speed id="7" value="38400"/>
		<speed id="8" value="56000"/>
		<speed id="9" value="57600"/>
		<speed id="10" value="115200"/>
	</speeds>
	<devices>
		<device name="Akon" beginAddress="1" endAddress="2">
			<serialNumberAddress>2</serialNumberAddress>
			<serialNumberLength>2</serialNumberLength>
			<modbusIdAddress>6</modbusIdAddress>
			<modbusSaveSettings>8</modbusSaveSettings>
			<signals>
				<signal type="TS" address="b10;c10;d10;e10"/>
				<signal type="TI" address="100;200"/>
				<signal type="TU" address="310;410"/>
			</signals>
		</device>
		<device name="NIK 1F" beginAddress="1" endAddress="99" default="true">
			<serialNumberAddress>F01A</serialNumberAddress>
			<serialNumberLength>8</serialNumberLength>
			<modbusIdAddress>F200</modbusIdAddress>
			<modbusSaveSettings>1100</modbusSaveSettings>
			<signals>
				<signal type="TS" offset="1200" count="8"/>
				<signal type="TI" offset="1000" count="12"/>
				<signal type="TU" offset="1208" count="4"/>
			</signals>
		</device>
	</devices>
</Base>